trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - azure-pipelines.yml
      - '*.png'
      - README.md



pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
    - job: BuildJob
      steps:
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.SourcesDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
                 
- stage: DeployToStaging
  dependsOn: Build
  condition: and(succeeded(), ne(variables['Build.Reason'], 'Pull Request'))
  jobs:
    - deployment: StagingDeployment
      environment: 'Staging'
      strategy:
        runOnce:
          deploy:
            pool:
              vmImage: 'ubuntu-latest'
            steps:
              - task: AzureCLI@2
                displayName: 'deploy to staging'
                inputs:
                  azureSubscription: 'arm-service-connection'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az storage blob upload-batch \
                      --account-name stagingstorage20260203 \
                      --source '$(Pipeline.Workspace)/drop' \
                      --destination '$web' \
                      --overwrite true

- stage: DeployToProd
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/head/main'))
  jobs:
    - deployment: ProdDeployment
      environment: 'Production'
      strategy:
        runOnce:
          deploy:
            pool:
              vmImage: 'ubuntu-latest'
            steps:
              - task: AzureCLI@2
                displayName: 'deploy to prod'
                inputs:
                  azureSubscription: 'arm-service-connection'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az storage blob upload-batch \
                      --account-name prodstorage20260203 \
                      --source '$(Pipeline.Workspace)/drop' \
                      --destination '$web' \
                      --overwrite true